.font{
  font-size: samall;
   padding: 3rem;
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 1rem;
  background-color: #1f2937;
  color: #fff;
  font-size: 1rem;
  
}
.topbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 0.5rem;
 
}
.topbar a:hover {
  text-decoration: underline;
}
.nav-icons a {
  margin-left: 15px;
  color: #ecdfdf;
  font-size: 18px;
}

.nav-icons a:hover {
  color: #00c853;
}
